<% content_for :title, @channel.name %>

<div class="page-header">
  <%= link_to channels_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if current_user %>
  <%= link_to edit_channel_path(@channel), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <% end %>
  <h1><%= @channel.name %></h1>
</div>

<%= raw markdown.render(@channel.description) %>

<div class="page-header">
  <h2>Available through</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Region</th>
            <th>Service</th>
            <th>Tier</th>
            <th>Cost</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @channel.tiers) do |tier| %>
        <td></td>
        <td><%= link_to tier.service.name, tier.service %></td>
        <td><%= tier.name %></td>
        <td>
          <% if tier.monthly_cost %>
            <%= tier.monthly_cost %> / month 
          <% else %>
            <%= tier.annual_cost %> / year
          <% end %>
        </td>
      <% end %>
      <%= content_tag_for(:tr, @channel.locks) do |lock| %>
        <td><% lock.regions.each do |region| %><%= link_to region.name, region, class: 'label label-default' %><% end %></td>
        <td><%= link_to lock.tier.service.name, lock.tier.service %></td>
        <td><%= lock.tier.name %></td>
        <td>
          <% if lock.tier.monthly_cost %>
            <%= lock.tier.monthly_cost %> / month 
          <% else %>
            <%= lock.tier.annual_cost %> / year
          <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
