<div class="page-header">
  <%= link_to services_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if current_user %>
  <%= link_to edit_service_path(@service), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <% end %>
  <%= link_to 'Visit website', @service.website, class: 'btn btn-success' %>
  <h1><%= @service.name %></h1>
</div>

<%= raw markdown.render(@service.description) %>

<p>
  <% if @service.on_demand %><span class="label label-primary">On-Demand</span><% end %>
  <% if @service.live %><span class="label label-success">Live</span><% end %>
</p>

<% if @service.regions.any? %>
  <p><strong class="text-danger">Available in:</strong>
  <% @service.regions.each do |region| %>
    <%= link_to region.name, region, class: 'label label-default' %>
  <% end %>
<% end %>

<% if @service.review && !@service.review.empty? %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">oddEvan's View</h3>
  </div>
  <div class="panel-body">
    <%= raw markdown.render(@service.review) %>
  </div>
</div>
<% end %>

<div class="page-header">
  <h2>Available Tiers</h2>
</div>

<% @service.tiers.each do |tier| %>
  <% if !tier.prereq %>
    <%= render tier %>
  <% end %>
<% end %>