<div class="page-header">
  <%= link_to services_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if current_user %>
  <%= link_to edit_service_path(@service), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <% end %>
  <%= link_to 'Visit website', @service.website, class: 'btn btn-success' %>
  <h1><%= @service.name %></h1>
</div>

<%= raw markdown.render(@service.description) %>

<p>
  <% if @service.on_demand %><span class="label label-primary">On-Demand</span><% end %>
  <% if @service.live %><span class="label label-success">Live</span><% end %>
</p>

<% if @service.review && !@service.review.empty? %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">oddEvan's View</h3>
  </div>
  <div class="panel-body">
    <%= raw markdown.render(@service.review) %>
  </div>
</div>
<% end %>

<div class="page-header">
  <h2>Available Tiers</h2>
</div>

<% @service.tiers.each do |tier| %>
  <h3><%= tier.name %></h3>
  <p><strong>Cost:</strong>
  <% if tier.monthly_cost %>
    <%= tier.monthly_cost %> / month 
  <% else %>
    <%= tier.annual_cost %> / year
  <% end %>
  <% if tier.prereq %>
    + <%= tier.prereq.name %>
  <% end %>
  </p>
  
  <p>
    <%= raw markdown.render(tier.description) %>
  </p>
  
  <% if tier.channels.any? %>
    <p><strong>Live channels:</strong>
    <% tier.channels.each do |channel| %>
      <%= link_to channel.name, channel, class: 'label label-default' %>
    <% end %>
    </p>
  <% end %>
<% end %>