<h1>Comparing <%= @left_service.name %> and <%= @right_service.name %></h1>

<style type="text/css">
<% (@left_service.tiers | @right_service.tiers).each do |tier| %>
.tier<%= tier.id %>-active { color: black; }
<% end %>
</style>

<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h2 class="panel-title"><%= @left_service.name %></h2></div>
            <div class="panel-body">
                <%= raw markdown.render(@left_service.description) %>
            </div>

            <div class="list-group" id="lefttiers">
            <% @left_service.tiers.each do |tier| %>
                <label for="lefttier<%= tier.id %>" class="list-group-item"><input type="checkbox" id="lefttier<%= tier.id %>" onClick="leftTier<%= tier.id %>Checked()"> <%= tier.name %></label>
            <% end %>
            </div>
            
            <div class="panel-footer"><strong>Total cost:</strong> <span id="left_total"></span></div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h2 class="panel-title"><%= @right_service.name %></h2></div>
            <div class="panel-body">
                <%= raw markdown.render(@right_service.description) %>
            </div>

            <div class="list-group" id="righttiers">
            <% @right_service.tiers.each do |tier| %>
                <label for="righttier<%= tier.id %>" class="list-group-item"><input type="checkbox" id="righttier<%= tier.id %>" onClick="rightTier<%= tier.id %>Checked()"> <%= tier.name %></label>
            <% end %>
            </div>
            
            <div class="panel-footer"><strong>Total cost:</strong> <span id="right_total"></span></div>
        </div>
    </div>
</div>

<div class="page-header">
    <h2>Channels</h2>
</div>

<div class="row">
    <div class="col-xs-6">
        <ul class="list-group text-right" id="left_channellist">
        <% @all_channels.each do |channel| %>
            <li class="list-group-item" id="leftchannel<%= channel.id %>">
            <% if @left_channels.include?(channel) %>
                <span class="compare-channel <%= channel.css_class %>"><%= channel.name %></span>
            <% else %>
                &nbsp;
            <% end %>
            </li>
        <% end %>
        </ul>
    </div>
    <div class="col-xs-6">
        <ul class="list-group" id="right_channellist">
        <% @all_channels.each do |channel| %>
            <li class="list-group-item" class="text-muted" id="rightchannel<%= channel.id %>">
            <% if @right_channels.include?(channel) %>
                <span class="compare-channel <%= channel.css_class %>"><%= channel.name %></span>
            <% else %>
                &nbsp;
            <% end %>
            </li>
        <% end %>
        </ul>
    </div>
</div>

<script type="text/javascript">
<% @left_service.tiers.each do |tier| %>
function leftTier<%= tier.id %>Checked() {
    if($('#lefttier<%= tier.id %>').prop('checked')) {
        $('#left_channellist .tier<%=tier.id %>').addClass('tier<%= tier.id %>-active');
        <% if tier.prereq %>
        $('#lefttier<%= tier.prereq.id %>').prop('checked', 'checked');
        leftTier<%= tier.prereq.id %>Checked();
        <% end %>
    } else {
        $('#left_channellist .tier<%=tier.id %>').removeClass('tier<%= tier.id %>-active');
    }
}

<% end %>
//////////

<% @right_service.tiers.each do |tier| %>
function rightTier<%= tier.id %>Checked() {
    if($('#righttier<%= tier.id %>').prop('checked')) {
        $('#right_channellist .tier<%=tier.id %>').addClass('tier<%= tier.id %>-active');
        <% if tier.prereq %>
        $('#righttier<%= tier.prereq.id %>').prop('checked', 'checked');
        rightTier<%= tier.prereq.id %>Checked();
        <% end %>
    } else {
        $('#right_channellist .tier<%=tier.id %>').removeClass('tier<%= tier.id %>-active');
    }
}

<% end %>

</script>