<h1>Welcome!</h1>

<p>This is Cordcut DB, a comprehensive listing of premium over-the-top 
television and video providers that are driving the internet-based television world forward.</p>

<div class="jumbotron">
    <h2>Under Construction</h2>
    
    <p>We are refocusing Cordcut DB on cable-like streaming services. Expect lots of broken links as we rebuild pretty much everything.</p>
</div>

<div class="row">
    <div class="col-md-9">
        <p>Latest article</p>
        <h2><%= link_to @article.name, @article %></h2>
        
        <p><%= @article.excerpt %></p>
        
        <p class="text-right"><%= link_to "Read more", @article, class: 'btn btn-primary' %></p>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-sm-4 col-md-12">
                <p><%= link_to 'Browse all services', services_url, class: 'btn btn-default btn-block' %></p>
            </div>
            <div class="col-sm-4 col-md-12">
                <p><%= link_to 'Browse all channels', channels_url, class: 'btn btn-default btn-block' %></p>
            </div>
            <div class="col-sm-4 col-md-12">
                <p><%= link_to 'Browse all articles', articles_url, class: 'btn btn-default btn-block' %></p>
            </div>
        </div>
    </div>
</div>