<div class="tier"> 
    <h3><%= tier.name %></h3>
    <p><strong><%= tier.prereq ? 'Additional cost:' : 'Cost:' %></strong>
    <% if tier.monthly_cost %>
        <%= tier.monthly_cost %> / month 
        <% if tier.annual_cost %>
        or <%= tier.annual_cost %> / year
        <% end %>
    <% else %>
        <%= tier.annual_cost %> / year
    <% end %>
    </p>

    <p>
        <%= raw markdown.render(tier.description) %>
    </p>

    <% if tier.channels.any? %>
        <p><strong>Live channels:</strong>
        <% tier.channels.each do |channel| %>
        <%= link_to channel.name, channel, class: 'label label-default' %>
        <% end %>
        </p>
    <% end %>

    <% if current_user %>
    <%= link_to edit_tier_path(tier), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit tier
    <% end %>
    <% end %>

    <% if tier.addons.any? %>
    <% tier.addons.each do |subtier| %>
        <%= render subtier %>
    <% end %>
    <% end %>
</div>