<div class="page-header">
  <%= link_to new_tier_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Tier
  <% end %>
  <h1>Listing tiers</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Service</th>
            <th>Name</th>
            <th>Description</th>
            <th>Monthly cost</th>
            <th>Annual cost</th>
            <th>Prereq</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @tiers) do |tier| %>
            <td><%= link_to tier.service.name, tier.service %></td>
            <td><%= link_to tier.name, tier %></td>
            <td><%= tier.description %></td>
            <td><%= tier.monthly_cost %></td>
            <td><%= tier.annual_cost %></td>
            <td>
            <% if tier.prereq %>
              <%= link_to tier.prereq.name, tier.prereq %>
            <% end %>
            </td>
      <% end %>
    </tbody>
  </table>
</div>
