<div class="page-header">
  <%= link_to new_tier_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Tier
  <% end %>
  <h1>Listing tiers</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Service</th>
            <th>Name</th>
            <th>Description</th>
            <th>Annual cost</th>
            <th>Prereq</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @tiers) do |tier| %>
            <td><%= tier.service %></td>
            <td><%= tier.name %></td>
            <td><%= tier.description %></td>
            <td><%= tier.annual_cost %></td>
            <td><%= tier.prereq %></td>
            <td><%= link_to 'Show', tier %></td>
        <td><%= link_to 'Edit', edit_tier_path(tier) %></td>
        <td><%= link_to 'Destroy', tier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
