<div class="page-header">
  <%= link_to articles_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if current_user %>
  <%= link_to edit_article_path(@article), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <% end %>
  <h1><%= @article.name %></h1>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  
  <%= raw markdown.render(@article.body) %>
  
  </div>
</div>

<p><%= link_to 'Back to articles', articles_path, class: 'btn btn-default' %></p>