<div class="page-header">
  <%= link_to new_lock_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Lock
  <% end %>
  <h1>Listing locks</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Tier</th>
            <th>Region</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @locks) do |lock| %>
            <td><%= lock.tier.name %></td>
            <td><%= lock.region.name %></td>
            <td><%= link_to 'Show', lock %></td>
        <td><%= link_to 'Edit', edit_lock_path(lock) %></td>
        <td><%= link_to 'Destroy', lock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
