<% content_for :title, @region.name %>

<div class="page-header">
  <%= link_to regions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if current_user %>
  <%= link_to edit_region_path(@region), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <% end %>
  <h1><%= @region.name %></h1>
</div>

<div class="page-header">
  <h2>Services available</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Service</th>
            <th>Tier</th>
            <th>Cost</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @region.locks) do |lock| %>
        <td><%= link_to lock.tier.service.name, lock.tier.service %></td>
        <td><%= lock.tier.name %></td>
        <td>
          <% if lock.tier.monthly_cost %>
            <%= lock.tier.monthly_cost %> / month 
          <% else %>
            <%= lock.tier.annual_cost %> / year
          <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>

<p class="text-muted">Other services may be available on a nationwide basis; these services offer local or regional
channels specific to this market.</p>